body {
  font-family: "Montserrat", sans-serif;
  font-family: "Noto Sans Arabic", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Tajawal", sans-serif;
  font-weight: 600;
}

h1,h2,h3, .card-title{
    font-weight: bold;
}
.carousel-inner,
.carousel-item img {
  width: 100%;
  height: 80vh;
}
.card img{
    height: 200px;
}
.card {
    box-shadow: 0px 0px 11px -2px #808080bf;
}
.navbar, footer {
    background-color: #282875;
}
.our-vision{
    background: url('./../images/bg-2.jpg') no-repeat fixed;
    height: 500px;
    width: 100%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.our-vision div {
    background-color: rgba(0, 0, 0, 0.64);
    padding: 20px;
    border-radius: 10px;
}

.our-teacher img {
    height: 300px;
}

footer {
    height: max-content;
    padding: 10px;
}